<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Beach Fun - Daisy's Website</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
<div class="top-container">
    <div class="title-text">
        <h1>Beach Fun</h1>
        <h3>The date and time is: {{ date_time }}</h3>
    </div>
    <img src="/static/images/daisy-beach.GIF" alt="daisy dog digging gif">
</div>

<div class="middle-container">
    <div class="profile">
        <h2>The Beach is for...</h2>
        <p class="intro">Fun. Also sleep. 🏝🏖💤</p>
        <img src="/static/images/daisy-beach.jpeg" alt="daisy dog picture">
    </div>
</div>

<div class="bottom-container">
    <h3>Me Doing My Favorite Things!</h3>
    <ol class="myOrderedList">
        <li><a href="/beach">Beach 🏖</a></li>
        <li><a href="/snow">Snow ☃️</a></li>
        <li><a href="/backyard">Backyard 🏡</a></li>
    </ol>
</div>

</body>

</html>